<body>
    <div class="container">
      <div class="col-md-6">

        <h1>All Photos</h1>

<a href="/photos/new">
  Add a new photo
</a>

  <div class="thumbnail">
    <img src="">

    <div class="caption">
      <a href="/photos/1" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/135/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/135" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="http://www.hkwinc.com/wp-content/uploads/2013/01/brant-instore-logo.png">

    <div class="caption">
      <a href="/photos/12" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/128/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/128" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F39438236-6c8e-11e7-b9c7-15af748b60d0?source=next&amp;fit=scale-down&amp;compression=best&amp;width=500">

    <div class="caption">
      <a href="/photos/124" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/124/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/124" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="test">

    <div class="caption">
      <a href="/photos/123" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/123/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/123" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="">

    <div class="caption">
      <a href="/photos/122" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/122/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/122" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="hi">

    <div class="caption">
      <a href="/photos/121" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/121/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/121" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="hi">

    <div class="caption">
      <a href="/photos/120" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/120/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/120" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="https://www.facebook.com/photo.php?fbid=10158439917465438&amp;set=a.10150293723995438.511225.621730437&amp;type=3&amp;theater">

    <div class="caption">
      <a href="/photos/114" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/114/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/114" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">

    <div class="caption">
      <a href="/photos/111" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/111/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/111" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="">

    <div class="caption">
      <a href="/photos/108" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/108/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/108" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="1">

    <div class="caption">
      <a href="/photos/104" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/104/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/104" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg">

    <div class="caption">
      <a href="/photos/103" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/103/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/103" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Penguin_in_Antarctica_jumping_out_of_the_water.jpg/640px-Penguin_in_Antarctica_jumping_out_of_the_water.jpg">

    <div class="caption">
      <a href="/photos/82" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/82/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/82" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Biandintz_eta_zaldiak_-_modified2.jpg/640px-Biandintz_eta_zaldiak_-_modified2.jpg">

    <div class="caption">
      <a href="/photos/79" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/79/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/79" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Fire_breathing_2_Luc_Viatour.jpg/640px-Fire_breathing_2_Luc_Viatour.jpg">

    <div class="caption">
      <a href="/photos/78" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/78/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/78" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Mostar_Old_Town_Panorama_2007.jpg/640px-Mostar_Old_Town_Panorama_2007.jpg">

    <div class="caption">
      <a href="/photos/77" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/77/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/77" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <div class="thumbnail">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Pair_of_Merops_apiaster_feeding.jpg/640px-Pair_of_Merops_apiaster_feeding.jpg">

    <div class="caption">
      <a href="/photos/76" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/76/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/76" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>


      </div>
    </div>
  </body>