<body>
    <div class="container">
      <div class="col-md-6">

        <h1>All Photos</h1>

<a href="/photos/new">
  Add a new photo
</a>

<%= @list_of_photos %>

  <div class="thumbnail">
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/<%= @photo_delete_id %>" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  

      </div>
    </div>
  </body>